*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

/********** Browsers  only **********/
@media (min-width: 992px) {
  .col-brow-1, .col-brow-2, .col-brow-3, .col-brow-4, .col-brow-5, .col-brow-6, .col-brow-7, .col-brow-8, .col-brow-9, .col-brow-10, .col-brow-11, .col-brow-12 {
    float: left;
    background: white;
    padding:10px;
    position:relative;
  }
  .col-brow-1 {
    width: 8.33%;
  }
  .col-brow-2 {
    width: 16.66%;
  }
  .col-brow-3 {
    width: 25%;
  }
  .col-brow-4 {
    width: 33.33%;
  }
  .col-brow-5 {
    width: 41.66%;
  }
  .col-brow-6 {
    width: 50%;
  }
  .col-brow-7 {
    width: 58.33%;
  }
  .col-brow-8 {
    width: 66.66%;
  }
  .col-brow-9 {
    width: 74.99%;
  }
  .col-brow-10 {
    width: 83.33%;
  }
  .col-brow-11 {
    width: 91.66%;
  }
  .col-brow-12 {
    width: 100%;
  }

}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
    position:relative;
    padding: 10px;
  }
  .col-tab-1 {
    width: 8.33%;
  }
  .col-tab-2 {
    width: 16.66%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-4 {
    width: 33.33%;
  }
  .col-tab-5 {
    width: 41.66%;
  }
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-7 {
    width: 58.33%;
  }
  .col-tab-8 {
    width: 66.66%;
  }
  .col-tab-9 {
    width: 74.99%;
  }
  .col-tab-10 {
    width: 83.33%;
  }
  .col-tab-11 {
    width: 91.66%;
  }
  .col-tab-12 {
    width: 100%;
  }

}

/********** Mobile Devices  only **********/
  @media (max-width: 767px) {
  .col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
    float: left;
    position:relative;
    padding: 10px;
  }
  .col-mob-1 {
    width: 8.33%;
  }
  .col-mob-2 {
    width: 16.66%;
  }
  .col-mob-3 {
    width: 25%;
  }
  .col-mob-4 {
    width: 33.33%;
  }
  .col-mob-5 {
    width: 41.66%;
  }
  .col-mob-6 {
    width: 50%;
  }
  .col-mob-7 {
    width: 58.33%;
  }
  .col-mob-8 {
    width: 66.66%;
  }
  .col-mob-9 {
    width: 74.99%;
  }
  .col-mob-10 {
    width: 83.33%;
  }
  .col-mob-11 {
    width: 91.66%;
  }
  .col-mob-12 {
    width: 100%;
  }
}

h1{
  margin:10px;
  color: green;
  text-align: center;
}


.innerbox{
  border:3px solid black;
  padding-bottom:10px;
  background-color:gray;
  position:relative;
}

.title{
  width:30%;
  float:right;
  padding:2px;
  text-align:center;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.content{
  position:relative;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  height:90%;
  margin-bottom:auto;
  margin-top:25px;
}

.row{
  width:100%;
}

#chicken{
  background-color: green;
}

#Meat{
  background-color: orange; 
}

#Steak{
  background-color: yellow; 
}