*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.navbar-brand h2{
  margin-top:0;
}

.navbar-nav > li > a{
  text-align:center;
}

h2{
  color: green;
}

.item{
  position:relative;
  background:gray;
  margin-left:10px;
  margin-right:10px;
}

.itemtitle{
  text-align: center;
}
